<%- include("header")-%>

<h2>About Page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio labore temporibus possimus quos et minima. Voluptates odio officia beatae, error tempore aspernatur! Sit doloribus beatae sequi quisquam iure magni esse.</p>

<%- include("footer") -%>